// Imports
@import "../base/fonts";
@import "../base/colors";

.footer {
	clip-path: polygon(94% 0, 100% 6%, 100% 100%, 0 100%, 0 0);

	@media screen and (min-width: 640px) {
		clip-path: polygon(94% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
	}

	@media screen and (min-width: 1024px) {
		clip-path: polygon(94% 0, 100% 31%, 100% 100%, 0 100%, 0 0);
	}
}
